<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register Page</title>
</head>
<body>
<form>
    <h2>Register page</h2>
    First Name:<br>
    <input type="text" name="fName" value="">
    <br>
    Last Name:<br>
    <input type="text" name="lName" value="">
    <br>
    Username:<br>
    <input type="text" name="User" value="">
    <br>
    <p> Password: Must at least be 8 characters long with special characters.</p>
    <input type="text" name="Pwd" value="">
    <br>
    <p> Reenter Password</p>
    <input type="text" name="PwdCheck" value="">
    <button type="submit">Register</button>
</form>
</body>
</html>
